.cart {
  margin-top: 100px;
}

.cart__items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: grey;
  font-size: max(1vw, 12px);
}

.cart__items-item {
  margin: 10px 0px;
  color: black;
}

.cart__items-item img {
  width: 50px;
}

.cart hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}

.cart__items-item .cross {
  cursor: pointer;
}

.cart__bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}

.cart__total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart__total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.cart__total hr {
  margin: 10px 0px;
}

.cart__total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw, 200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}

.cart__promocode {
  flex: 1;
}

.cart__promocode p {
  color: #555;
}

.cart__promocode-input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
}

.cart__promocode-input input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.cart__promocode-input button {
  width: max(10vw, 150px);
  padding: 12px 5px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 4px;
}

@media (max-width: 750px) {
  .cart__bottom {
    flex-direction: column-reverse;
  }

  .cart__promocode {
    justify-content: start;
  }
}
