.header {
  height: 34vw;
  margin: 30px auto;
  /* header image lives in src/assets/header_img.png; from this file the relative path is: ../../assets/header_img.png */
  background: url("/header_img.png") no-repeat;

  background-size: contain;
  position: relative;
}

.header__contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header__contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header__contents p {
  color: white;
  font-size: 1vw;
}

.header__contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}

@media (max-width: 750px) {
  .header__contents {
    max-width: 65%;
  }

  .header__contents p {
    display: none;
  }

  .header__contents button {
    padding: 2vw 4vw;
  }
}

@media (max-width: 1050px) {
  .header__contents {
    max-width: 55%;
  }
}
