.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background-color: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}
.navbar li {
  cursor: pointer;
}

.navbar__search-icon {
  position: relative;
}

.navbar__search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

@media (max-width: 750px) {
  .navbar__menu {
    display: none;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar__menu {
    gap: 15px;
    font-size: 15px;
  }

  .navbar__right {
    gap: 20px;
  }

  .navbar__right img {
    width: 20px;
  }

  .navbar__right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar__menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar__right {
    gap: 10px;
  }

  .navbar__right img {
    width: 22px;
  }

  .navbar__right button {
    padding: 8px 25px;
  }
}
